@import '../../scss/variables';

// === TOOLBAR ===
.toolbar {

    %selector-title {
        margin-top: 0;
        color: $colour--grey-4;
    }

    background-color: $colour--grey-1;
    color: $colour--grey-4;
    padding: $spacing--x1;
    border-bottom: 2px solid $colour--grey-3;

    &__title {
        span {
            color: $colour--grey-2;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $breakpoint--small) {
            flex-direction: row;
        }
    }

    &__info {
        margin: $spacing--x1 0;
        text-align: center;
        text-align: center;
        font-size: 1.25rem;

        span {
            color: $colour--secondary;
        }
    }
}

// === GENRE SELECTOR ===
.genre-selector {

    margin-bottom: $spacing--x1;

    &__title {
        @extend %selector-title;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: $breakpoint--small) {
            width: 66%;
        }
    }

    &__item {
        background-color: $colour--secondary;
        padding: $spacing--x1;
        margin-right: $spacing--x1;
        margin-bottom: $spacing--x1;
        border-radius: $border-radius;
        user-select: none;
        cursor: pointer;
        color: $colour--black;

        &--is-selected {
            background-color: $colour--primary;
            color: $colour--white;
        }

        &--is-disabled {
            background-color: $colour--grey-4;
            color: $colour--grey-3;
            pointer-events: none;
        }
    }
}

// === VOTE AVERAGE SELECTOR ===
.vote-average-selector {

    margin-bottom: $spacing--x1;

    &__title {
        @extend %selector-title;
    }

    .select-box {
        height: calc(#{$button--height} + #{$spacing--x1});
        width: 100%;
        font-size: 1rem;
    }

    @media screen and (min-width: $breakpoint--small) {
        width: 33%;
        max-width: 300px;
    }
}
