@import "../../scss/variables";

.results-view {
    margin: $spacing--x1;

    .results-view__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $breakpoint--large;
        margin: 0 auto;
    }
}

.results-item {
    background-color: $colour--grey-1;
    margin: $spacing--x1;
    max-width: 500px;
    width: 100%;
    border-radius: ($border-radius * 1.5);
    border: 2px solid $colour--grey-3;

    &__title {
        min-height: 65px;
        margin: 0;
        padding: $spacing--x1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colour--grey-4;
        font-size: 1.5rem;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__genres {
        display: flex;
        flex-wrap: wrap;
        margin: $spacing--x05;

        .genre-item {
            margin: $spacing--x05;
            font-size: 0.75rem;
            background-color: $colour--grey-3;
            color: black;
            padding: $spacing--x05;
            border-radius: $border-radius;
            border: solid 2px;
            border-color: $colour--grey-1;
            box-sizing: border-box;

            &--is-highlighted {
                background-color: $colour--white;
                color: $colour--primary;
                border-color: $colour--primary;
            }
        }
    }

    @media screen and (min-width: $breakpoint--small) {
        width: calc(49% - #{$spacing--x2});
    }

    @media screen and (min-width: $breakpoint--medium) {
        width: calc(32% - #{$spacing--x2});
    }

    @media screen and (min-width: $breakpoint--large) {
        width: calc(24% - #{$spacing--x2});
    }
}
