@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: $colour--grey-2;
}
