
// *** breaks
$breakpoint--small: 767px;
$breakpoint--medium: 1100px;
$breakpoint--large: 1500px;

// *** spacing
$base-spacing: 12px;
$spacing--x05: ($base-spacing / 2);
$spacing--x1: $base-spacing;
$spacing--x2: ($base-spacing * 2);

// *** colours
$colour--secondary: orange;
$colour--primary: purple;
$colour--black: #000;
$colour--white: #fff;
$colour--grey-1: #222;
$colour--grey-2: #666;
$colour--grey-3: #999;
$colour--grey-4: #ccc;

// *** ui
$border-radius: $spacing--x05;
$button--height: ($spacing--x1 * 3);
